/*********************
 33 GALLERY START
**********************/
.gallery-row{
  margin-bottom: -25px;
}
.cdxlight-box{
  border-radius:5px;
  overflow: hidden;    
  cursor: pointer;
  margin-bottom: 25px;
  img{
      width: 100%;
  }   
}